@model ShopEcommerce.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BotDetect.Web.Mvc;
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<div>
    <div>
        <div class="modal-content">
            <div class="modal-body modal-body-sub_agile">
                <div class="row">
                    <div class="col-md-8 modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign"><strong><font color="orange">Đăng nhập <span>ngay</span></font></strong></h3>
                        @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="username">Tên đăng nhập</label>
                                @Html.TextBoxFor(model => model.UserName)
                            </div>
                            <div class="form-group">
                                <label for="password">Mật khẩu</label>
                                @Html.PasswordFor(model => model.PassWord)
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(model => model.RememberMe)  Nhớ người dùng ?
                            </div>
                            MvcCaptcha LoginCaptcha = new MvcCaptcha("LoginCaptcha");
                            @Html.Captcha(LoginCaptcha)
                            @Html.TextBox("LoginCaptcha")
                            @Html.ValidationMessage("LoginCaptcha", new { @class = "text-danger" })

                            <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
                        }
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <p><a href="register-infor"> Bạn không có tài khoản ?</a></p>
                    </div>
                    <div class="col-md-2 offset-md-2 modal_body_right modal_body_right1" style="margin-left: 100px;">
                        <img src="~/Assets/Client/images/panda-lr.png" alt=" " class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


