@model ShopEcommerce.Web.Infrastructure.Core.Pagination<ShopEcommerce.Web.Models.ProductViewModel>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (ShopEcommerce.Web.Models.ProductCategoryViewModel)ViewBag.Category;
}
<style>
    .now-get {
        background-color: cadetblue; /* Màu xanh cho nền */
        padding: 10px 20px; /* Tăng độ rộng và chiều cao của nút nếu cần */
        display: inline-block; /* Để nút chỉ chiếm chiều rộng của nội dung bên trong */
        text-align: center; /* Canh giữa văn bản trong nút */
        font-weight: bold; /* Chữ in đậm */
        color: white; /* Màu chữ trắng */
        text-decoration: none; /* Loại bỏ gạch chân (nếu cần) */
    }
</style>
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>@category.Name </h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="/home">Home</a><i>|</i></li>
                    <li>@category.Name</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>
<div class="single-pro">
    @if (Model.Count > 0)
    {
        foreach (var product in Model.Items)
        {
            var url = "/" + product.Alias + "-p-" + product.ID + "/infor";
            <div class="col-md-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <img src="@product.Image" alt="" class="pro-image-front">
                        <img src="@product.Image" alt="" class="pro-image-back">
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="@url " class="link-product-add-cart">Chi Tiết</a>
                            </div>
                        </div>
                        <span class="product-new-top">Bán Chạy</span>

                    </div>
                    <div class="item-info-product ">
                        <h4><a href="single.html">@product.Name</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">@product.Price VND</span>
                            <del>@product.Price</del>
                        </div>
                        <div>
                            <a class="now-get get-cart-in" href="/add-cart?productID=@product.ID" id="btnAddToCart" data-id="@product.ID">THÊM VÀO GIỎ HÀNG</a>
                        </div>
                    </div>
                </div>

            </div>
        }
        <div class="clearfix"></div>

        if (Model.TotalPage > 1)
        {
            // Create numeric links
            var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
            var endPageIndex = Math.Min(Model.TotalPage, Model.Page + Model.MaxPage / 2);

            <nav>
                <ul class="pagination">
                    @if (Model.Page > 1)
                    {
                        <li>
                            <a href="?page=1" aria-label="First">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="?page=@(Model.Page-1)" aria-label="Previous">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                    }

                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (Model.Page == i)
                        {
                            <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="?page=@i" title="Trang @i">@i</a></li>
                        }
                    }
                    @if (Model.Page < Model.TotalPage)
                    {
                        <li>
                            <a href="?page=@(Model.Page+1)" aria-label="Next">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="?page=@Model.TotalPage" aria-label="Last">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        }
    }
    else
    {
        <div><strong><font color="red">Hiện tại không shop không còn sản phẩm này</font></strong></div>
    }

    @if (Model.TotalPage > 1)
    {
        var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
        var endPageIndex = Math.Min(Model.TotalPage, Model.Page + Model.MaxPage / 2);
        <nav>
            <ul class="pagination">
                @if (Model.Page > 1)
                {
                    <li>
                        <a href="?page=1" aria-label="First">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@(Model.Page-1)" aria-label="Previous">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                }

                @for (int i = startPageIndex; i <= endPageIndex; i++)
                {
                    if (Model.Page == i)
                    {
                        <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                    }
                    else
                    {
                        <li><a href="?page=@i" title="Trang @i">@i</a></li>
                    }
                }
                @if (Model.Page < Model.TotalPage)
                {
                    <li>
                        <a href="?page=@(Model.Page+1)" aria-label="Next">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@Model.TotalPage" aria-label="Last">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>




