@model IEnumerable<ShopEcommerce.Web.Models.ProductViewModel>
@{
    ViewBag.Title = "ProductTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nameTag = ViewBag.Tag;
}

<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Trang Sản Phẩm Theo Tag</h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="/home">Home</a><i>|</i></li>
                    <li>@nameTag</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>
<div class="single-pro">
    @foreach (var product in Model)
    {
        var url = "/" + product.Alias + "-p-" + product.ID + "/infor";
        <div class="col-md-3 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                    <img src="@product.Image" alt="" class="pro-image-front">
                    <img src="@product.Image" alt="" class="pro-image-back">
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a href="@url " class="link-product-add-cart">Chi Tiết</a>
                        </div>
                    </div>
                    <span class="product-new-top">Bán Chạy</span>

                </div>
                <div class="item-info-product ">
                    <h4><a href="single.html">@product.Name</a></h4>
                    <div class="info-product-price">
                        <span class="item_price">@product.Price VND</span>
                        <del>@product.Price</del>
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                <input type="hidden" name="amount" value="30.99" />
                                <input type="hidden" name="discount_amount" value="1.00" />
                                <input type="hidden" name="currency_code" value="USD" />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <input type="submit" name="submit" value="Add to cart" class="button" />
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    }
    <div class="clearfix"></div>
</div>



